﻿#dvTop {
    color: #000000;
    background-color: #FFFF66;
    width: 100%;
    height: 100px;
}

#dvLeft {
    width: 30%;
    background-color: #66CCFF;
    height: 400px;
    float: left;
}

#dvRight {
    width: 70%;
    background-color: #FFFFCC;
    height: 400px;
    float: left;
}

#dvMenu {
    width: 100%;
    height: 50px;
    background-color: yellow;
    float: left;
    border-radius: 400px 0px 0px 0px;

}

#dvBottom {
    width: 100%;
    height: 100px;
    background-color: #66FFCC;
    float: left;
    text-align: center;
}
